      #map {
        height: 100%;
        background-color: #2D2D2D;
      }
      html , body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #2D2D2D;
      }
      #floating-panel {
        height: auto;
        width: 350px;

        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1;
        background-color: #2D2D2D;
	border-radius: 5px;
        padding: 2.5%;
        border: 1px solid #333333;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
	color: white;
        padding-left: 10px;
      }

      .btn {
        height: auto;
        width: 90%;
        background-color: #333333;
        border-radius: 5px;
        padding: 10px;
	margin-top:15px;
	margin-left:2.5%;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        color: white;
      }

      .img_cont {
        height: auto;
        width: 90%;
        background-color: #333333;
        border-radius: 5px;
        padding: 10px;
        margin-top:15px;
        margin-left:2.5%;
      }

      .img {
        width: 90%;
        background-color: #333333;
        border-radius: 5px;
        padding: 10px;
        margin-top:15px;
        margin-left:2.5%;
      }
       

      #submit{
        height: auto;
        width: 90%;
        background-color: #FF662B;
        border-radius: 5px;
        padding:0px;
        margin-top:15px;
        margin-left:2.5%;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        color: white;
	 cursor:grab;
        border: 0px solid #333333;
      }
